// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login{
  margin: 0 auto;
  width: 450px;
  height:auto;
}
.login h2{
  text-align:center;
}
.login .col_login{
  display: flex;
  width: 49.6%;
  float:left;
}
.login .btn{
  width:100%;
}

.login .btn_register{
  background-color: #E24825;
  color: white;
}
.login .btn_google{
  background-color: #E24825;
  color: white;
  margin-left:10px;
}
